.container.center
  %h1.center Trello React Boards
  %hr
  -# %img{src: 'http://1.bp.blogspot.com/_-_dStEZJLa4/TQq1iflQzHI/AAAAAAAAAPE/D45yVu7kE5w/s1600/trololo-lolo-trololo.jpg'}

  = react_component('Boards', {boards: @boards})